*.xlsx
*.uuid
**/.ipynb_checkpoints/**
.idea/
resources/
__pycache__/
*.avi
*.asv
*.mp4
*.h5
*.yml

*.pth
*.pt

resources/
cmake-build-debug/

*.aux
*.bbl
*.blg
*.log
*.pdf
*.synctex.gz*
*.db
*.out
*.toc
*.tks
*.lof
*.lot

*.dvi
*.mp4

*.bib$

~$*

*.out.ps
*.pag
*.brf
/build/
/pyDicePlot.egg-info/
